.Red{
    color: red;
}
.Green{
    color: green;
}
.Blue{
    color: blue;
}
.Yellow{
    color: yellow;
}
.Black{
    color: black;
}
.Internal{
background-color: cadetblue;
}
.Yellow{
direction: inherit;
background-color: brown;
}
.Yellow{
background-color:revert;
}
.Blue{
background-color: chartreuse;
}
.H1{background-color: aqua;}
.H1{background-color: chocolate;}
.H1{background-color: cornflowerblue;}